article{
    padding: 0.45rem 0.35rem;
    font-size: 0.22rem;
    color: #343434;
}
article img{
    display: inline-block;
    width: 100%;
    margin-bottom: 0.22rem;
}
article p{
    padding: 0 0.18rem;
    line-height: 0.33rem;
    text-align: justify;
    margin-bottom: 0.32rem;
}
