.main-elk {
  background-color: #F8F8F8;
}
.main-elk .photo {
  text-align: center;
  font-size: 0;
}
.main-elk .photo img {
  display: inline-block;
  max-width: 100%;
}
.main-elk .elk img {
  margin-bottom: 0.13rem;
}