.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic/*处理图片失真问题*/
}
body{
    background-color: #EDEDED;
}
.home{
    padding: 0.4rem 0.3rem;
    font-family: PingFang SC;
}
.home li{
    margin-bottom: 0.4rem;
}
.time{
    font-size: 0.2rem;
    color: #666;
    margin-bottom: 0.16rem;
}
.main{
    background-color: #fff;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
    overflow: hidden;

}
.main .content video{
    width: 100%;
    object-fit: fill;
    vertical-align: top;
}
.main .content img{
    width: 100%;
}
.main .detail{
    padding: 0.21rem 0.24rem ;
}
.detail div{
    font-size: 0.24rem ;  
    color: #010101;
}
.detail p{
    color: #666;
    font-size: 0.2rem;
    line-height: 0.28rem;
    margin-top: 0.1rem;
    text-align: justify;
}
.message{
    width:1.32rem;
    height: 0.4rem;
    float: right;
    font-size: 0.24rem;
    background-color:#9EEA6A;
    border-radius: 0.01rem;
    text-align: center;
    line-height: 0.4rem;
}
.select{
    margin-top: 0.12rem;
    color:#017EFF;
    font-size: 0.22rem;
}
.select span{
    background-color: #fff;
    border-radius: 0.1rem;
    margin-right: 0.27rem;
    padding:0 0.1rem;
}
/*出现*/
.is_show{
    display: block;
}
.not_show{
    display: none;
}